body {
  background: linear-gradient(to bottom, #bdcec8, #60b98f);
  background-attachment: fixed;
  min-height: 100vh;
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.about-button {
    font-family: Arial, sans-serif;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    box-shadow: 1px 4px 6px rgba(0,0,0,0.1);
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
    background: linear-gradient(to bottom, #8ACE00, #84c501);
    border-color: #4f7700;
    color: black;
    filter: blur(0.05em);
  }
  #how-to-navigate {
    text-align: center;
    font-size: 1.5em;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

.green-header {
  background-color: #4CAF50;  /* A nice green color */
  color: white;
  padding: 20px 0;
  text-align: center;
  box-shadow: 1px 4px 6px rgba(0,0,0,0.1);
}

.about-button:hover {
    background-color: #348100; /* A darker shade of the primary color */
    border-color: #ffffff;
  }
